// Place all the styles related to the LineItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.padding-top {
  padding-top: 50px;
}
.image {
  img {
    width: 128px;
    height: 128px;
  }
}

.empty {
  margin-top: 20px;
}
